/* .border{
    border: 2px solid red;
    margin: 3px;
    height: 5vh;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
} */
